* {
    box-sizing: border-box; 
}

html, body {
    background: black;  
    font-family: "Lobster", "Helvetica", sans-serif;
    min-width: 100%;
	min-height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
	top: 0;
	left: 0;
}

header {
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 20px;
}

.mask-rainbow {
    background: url(https://naldzgraphics.net/wp-content/uploads/2013/03/22-colorful-beautiful-stained-glass-textures.jpg) center center;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-animation: travelRainbow 10s linear infinite;
    -moz-animation: travelRainbow 10s linear infinite;
    -moz-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-animation: travelRainbow 10s linear infinite;
    -o-text-fill-color: transparent;
    -o-background-clip: text;
    -o-animation: travelRainbow 10s linear infinite;
    margin: auto;
    width: 95%;
	height: 20%; 
}

@-webkit-keyframes travelRainbow {
    0% {background-position: right bottom;}
    100% {background-position: left top;}
}
@-moz-keyframes travelRainbow {
    0% {background-position: right bottom;}
    100% {background-position: left top;}
}

h1 {
    font-family: "Lobster", "Helvetica", sans-serif;
    font-size: 96px;
    font-weight: bold;
    height: 100%;
    width: 100%;
}

.giphy, .button {
	display: inline-block;
	cursor: crosshair; 
    border: 3px solid transparent;
    background: linear-gradient(to right, #f4416a, #f4a041);;
    border-image: linear-gradient(to right, #fcb66c 0%, #ee1b4c 100%);
    border-image-slice: 1;
    font-family: "Codystar", "Helvetica", cursive;
	font-size: 16px;
    color: rgb(244, 250, 160);
    font-size: 18px;
    padding: 8px;
    margin: 10px;
}

.giphy:hover {
    background: rgba(255, 255, 255, 0.2);
    border: 3px solid transparent;
    color: #fff;
}

.giphy:active {
	border-image: linear-gradient(to right, #7cffc4 0%, #09a3c6 100%);
    background: linear-gradient(to right, #29e9bf, #09a3c6);
    color: rgb(11, 49, 92);
}

#giphys-view {
    margin-bottom: 20px;
}

form {
    padding: 10px;
    margin-bottom: 20px;
}

label {
    font-size: 19px;
    font-family: "Julius Sans One", "Helvetica", sans-serif;
    font-weight: bold;  
    color: rgb(35, 172, 172);
    text-shadow: 2px 2px 5px #22A6F2;
    margin: 0 auto;
}

#new-input {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 7px;
    padding-right: 7px;
    font-size: 18px;
    letter-spacing: 2px;
    margin-right: 10px;
    font-family: "Lobster", "Helvetica", sans-serif;
}

#new-input:hover {
	cursor: text;
}

#add-new {
    width: 100px;
    padding: 4px;
    font-size: 16px;
    border-image: linear-gradient(to right, #967aec 0%, #b42af0 100%);
    background: linear-gradient(to right, #e270b6, #aa4fe7);
    border-image-slice: 1;
    font-weight: bold;
    color: rgb(34, 6, 37);
}

#add-new:hover {
    background: rgba(255, 255, 255, 0.2);
    border-image: none;
    color: #fff;
}

#add-new:active {
	border-image: linear-gradient(to right, #7cffc4 0%, #09a3c6 100%);
    background: linear-gradient(to right, #29e9bf, #09a3c6);
    color: rgb(11, 49, 92);
}

.rating-container {
    color: rgba(250, 126, 188, 0.479);
    letter-spacing: 2px;
    padding: 5px;
    font-family: "Julius Sans One", "Helvetica", sans-serif;
}

.gif-container {
    float: left;
    padding: 15px;
    margin: 0 auto;
}